<form [formGroup]="cardForm" (ngSubmit)='onSubmit()'>
    <app-card-input label='Name' inputType='text' [control]='cardForm.controls'>
    </app-card-input>
    <ng-container
        *ngIf='cardForm.controls.name.invalid&&cardForm.controls.name.touched &&cardForm.controls.name.dirty '>
        <div>
            <span *ngIf='cardForm.controls.name.errors.required'>Require to fill in the name</span>
            <span *ngIf='cardForm.controls.name.errors.minlength'>Require at least
                {{cardForm.controls.name.errors.minlength.requiredLength}} words </span>
        </div>
    </ng-container>
    <app-card-input label='Card Number' inputType='number' [control]='cardForm.controls'>
    </app-card-input>
    <app-card-input label='Expiry Date' inputType='date' [control]='cardForm.controls'>
    </app-card-input>
    <app-card-input label='Security Code' inputType='number' [control]='cardForm.controls'>
    </app-card-input>

    <button type="submit">submit</button>
</form>
<div>{{cardForm.value|json}}</div>
<div>{{cardForm.controls.name.errors|json}}</div>