<div class="ui grid">
    <div class="eight wide column">
        <form [formGroup]="cardForm" (ngSubmit)='onSubmit()'>
            <app-card-input label='Name' inputType='\w+' [control]="cardForm.get('name')">
            </app-card-input>
            <app-card-input label='Card Number' inputType='^\d{0,16}$' [control]='cardForm.get("cardNumber")'>
            </app-card-input>
            <app-card-input label='Expiry Date' inputType='^\d{0,2}\/?\d{0,2}$' [control]='cardForm.get("expDate")'>
            </app-card-input>
            <app-card-input label='Security Code' inputType='^\w{0,3}$' [control]='cardForm.get("securityCode")'>
            </app-card-input>

            <div class="buttons">
                <button class="button is-primary" [disabled]="cardForm.invalid" type="submit">
                    Submit
                </button>
                <button class="button is-warning" type="button" (click)="onResetClick()">
                    Reset
                </button>
            </div>
        </form>


    </div>
    <div class="eight wide column">
        <app-card [expiration]="cardForm.get('expDate').value" [name]="cardForm.get('name').value"
            [cardNumber]="cardForm.get('cardNumber').value">
        </app-card>
    </div>
</div>