<div class="ui container">
    <div class="ui secondary pointing menu">
        <a routerLink="/elements" routerLinkActive="active" class="item">Elements</a>
        <a routerLink="/collections" routerLinkActive="active" class="item">Collections</a>
        <a routerLink="/views" routerLinkActive="active" class="item">Views</a>
        <a routerLink="/mods" routerLinkActive="active" class="item">Modules</a>
        <a routerLink="/others" routerLinkActive="active" class="item">Others</a>
        <a routerLink="/search-bar" routerLinkActive="active" class="item">SearchBar</a>
        <a routerLink="/photos" routerLinkActive="active" class="item">Photos</a>
        <a routerLink="/credit-card" routerLinkActive="active" class="item">CreditCard</a>
    </div>
    <div class='ui segment'>
        <router-outlet></router-outlet>
    </div>
</div>